@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

.mainfooter {
  color: #fff;
  background-color: var(--couleur-bleu);
}

.footer-top {
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  margin: auto;
}

.footer_icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.footer_icons nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  & .social__link {
    margin: 0;
  }
}

.footer_icons nav a {
  color: #fff;
  text-decoration: none;
}

.footer_section_c {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  & h3 {
    margin-bottom: 10px;
  }

  & p {
    margin: 5px 0;
  }
}

.footer_section_f {
  display: flex;
  flex-direction: column;
  max-width: 200px;

  & h3 {
    margin-bottom: 10px;
  }

  & p {
    margin: 5px 0;
  }
}

.newsletter_section {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.newsletter_input {
  margin-top: 10px;
}

.newsletter_input input[type="text"] {
  padding: 5px;
  width: 70%;
  margin-right: 5px;
  border: none;
  min-height: 2rem;
  background-color: var(--couleur-bleu_clair);
  border: 1px #fff solid;
  color: black;
}

input::placeholder {
  color: white;
  opacity: 0.8;
  font-family: "Roboto", sans-serif;
}

.newsletter_input input[type="button"] {
  padding: 5px 10px;
  border: 0px;
  background-color: var(--couleur-rouge);
  color: #fff;
  cursor: pointer;
  min-height: 2rem;
  font-family: "Roboto", sans-serif;
}

.newsletter_input input[type="button"]:hover {
  background-color: var(--couleur-rouge_fonce);
  font-family: "Roboto", sans-serif;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  background-color: var(--couleur-bleu_fonce);
  padding: 0.5rem;
}

.footer-bottom div {
  margin: 5px 0;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 0 5px;
}

.footer-bottom a:hover {
  text-decoration: underline;
}

.logo_footer {
  margin-bottom: 20px;
  margin-top: 2em;
}

.center {
  display: block;
  width: 100%;
  text-align: center;

  & p {
    text-align: center;
  }
}
